body {
    background-color: #474747;
    font-family:'Courier New', Courier, monospace;
    color: #cccccc;
    font-size: 24px;
}

header {
    background-color: #1a1a1a;
    font-family:'Courier New', Courier, monospace;
    color: #cccccc;
    font-size: 16px;
}

.menu-items ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}

.menu-items li {
    margin-right: 20px;
}

.menu-items {
    text-decoration: none;
    color: #cccccc;
}