body {
    background-color: #474747;
    font-family:'Courier New', Courier, monospace;
    color: #cccccc;
    font-size: clamp(24px, 3vw, 48px);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1a1a1a;
    font-family:'Courier New', Courier, monospace;
    color: #cccccc;
    font-size: clamp(16px, 2vw, 36px);
}

.menu-items ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}

.menu-items li {
    margin-right: 5%
}

.menu-items {
    text-decoration: none;
    color: #cccccc;
}

.interests-items ul{
    list-style-type: none;
    padding: 0;
}

.interests-items p{
    font-size: clamp(16px, 2vw, 36px);
}

.group-div {
    display: flex;
    align-items: center;
    gap: 3vw;
    width: 90%;
    margin: 5vh auto;
    /*
    justify-content: center
    padding: 0 5%
    */
}

.group-div.reverse {
    flex-direction: row-reverse;
}

.box-div {
    width: 45%;
    aspect-ratio: 1 / 1;
    background-color: #b3b3b3;
    flex-shrink: 0;
}

.photo-div {
    width: 45%;
    aspect-ratio: 1 / 1;
    background-color: #b3b3b3;
    flex-shrink: 0;
}

.vertical-paragraphs {
    display: block;
}

.tabcontent {
    width: 60%;
    aspect-ratio: 4 / 3;
    background-color: #b3b3b3;
    flex-shrink: 0;
}
