body {
    background-color: #474747;
    font-family:'Courier New', Courier, monospace;
    color: #cccccc;
    font-size: clamp(24px, 3vw, 48px);
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1a1a1a;
    font-family:'Courier New', Courier, monospace;
    color: #cccccc;
    font-size: clamp(16px, 2vw, 36px);
}

.menu-items ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    /* padding-left: 10%;
    padding-right: 10%; */
}

.menu-items li {
    margin-right: 5%;
    text-align: center;
}

.menu-items a{
    text-decoration: none;
    color: #cccccc;
}

.menu-items a:hover{
    background-color: lime;
    color:#1a1a1a;
    cursor: pointer;
}

.tab {
    display: flex;
    justify-content: space-evenly;
}

.tablinks {
    background-color: #301934;
    color:#cccccc;
}

.tablinks:hover{
    background-color: darkslateblue;
    cursor: pointer;
}

.tablinks.active{
    background-color: purple;
}

.tabcontent {
    display: none;
    text-align: center;
    width: 70%;
    aspect-ratio: 9 / 5;
    background-color: #b3b3b3;
    flex-shrink: 0;
    margin: 0 auto;
}

.interests-items ul{
    list-style-type: none;
    padding: 0;
}

.interests-items p{
    font-size: clamp(16px, 2vw, 36px);
}

.group-div {
    display: flex;
    align-items: center;
    gap: 3vw;
    width: 90%;
    margin: 5vh auto;
    /*
    justify-content: center
    padding: 0 5%
    */
}

.group-div.reverse {
    flex-direction: row-reverse;
}

.box-div {
    width: 45%;
    aspect-ratio: 1 / 1;
    background-color: #b3b3b3;
    flex-shrink: 0;
}

.photo-div {
    width: 45%;
    aspect-ratio: 1 / 1;
    background-color: #b3b3b3;
    flex-shrink: 0;
}

.vertical-paragraphs {
    display: block;
}
